.play-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 20px 0;
    /* Barber pole effect */
    background-image: repeating-linear-gradient(130deg, rgba(246, 246, 246, 0.2), rgba(246, 246, 246, 0.2) 20px, rgba(238, 238, 238, 0.1) 20px, rgba(238, 238, 238, 0.1) 40px);
    background-size: 5000%;
    animation: animatedBackground 600s linear infinite;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -100% 0; }
}

/* Mobile-specific styles using media query */
@media only screen and (max-width: 768px) {  /* Assuming 768px as the breakpoint for mobile devices */
    .play-container {
      animation: animatedBackground 250s linear infinite;
    }
  }


.navigation {
    display: flex;
    flex-direction: row;
    margin-bottom: 250px; /* Add some margin for spacing from the bottom */
    width: 100%;
    justify-content: center;
}

.question-div{
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    margin: 10px;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.question-wrapper {
    flex-grow: 1; /* This ensures that the question container expands its content, pushing the navigation down */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the question within this div */
    align-items: center;
    width: 100%;
}

.index-counter{
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

.nav-btn{
    border: none;
    background-color: white;
    color: #7f03fc;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: background-color 0.3s, transform 0.2s; /* Added transform to the transition for smooth movement */
}

.home-btn{
    position: absolute; /* Set position to absolute */
    bottom: 20px; 
    border: none;
    background-color: white;
    color: #7f03fc;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
    transition: background-color 0.3s, transform 0.2s; /* Added transform to the transition for smooth movement */
}

.spacer-div{
    width: 20px;
}